<!-- jQuery -->
<!--<script src="../jQuery/jquery-2.2.0.min.js"></script>-->
<!-- bootstrap -->
<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
-->

{% load range_tag %}
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

<div>
<h1>{{ locker }}</h1>

<form class="locker_form" method="POST" action="">
<table class="locker" border="1">
{% csrf_token %}
{% autoescape off %}
{{ ldf.parse_html }}
{% endautoescape %}
<input type="hidden" name="locker" value="{{ locker.id }}"/>
</table>
</form>
</div>