{% load range_tag %}
{% load locker_detail_tag %}
<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>사물함 신청</title>
</head>
<body>
{% for lock in locker %}
    {{ lock }}
    <div>
    <form method="POST" action="">
    <table border="1">
    {% for row in lock.rNum|get_range %}
        <tr>
        {% for cloumn in lock.cNum|get_range %}
            <td>
                <!--
                {{ forloop.parentloop.counter0|multiply:lock.cNum|add:forloop.counter }}<br/>
                {% if not lockerdetail.forloop.parentloop.parentloop.count.row|add:coulmn.fee_check %}
                    <input type="hidden" name="detail_id" value="{{ lockerdetail.forloop.parentloop.parentloop.count.id }}"/>
                예약하기
                {% else %}
                예약불가
                {% endif %}
                -->
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    </form>
</div>
    <br/>
{% endfor %}
</body>
</html>