{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko-kr">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>SSU : Locker Request System 2.0 of Soongsil</title>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <!-- bootstrap
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        -->
        <!-- <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"> -->
        <link rel="stylesheet" href="{% static "css/log_in.css" %}">
        <link rel="shortcut icon" href={% static "img/favicon.ICO" %} type="image/x-icon">
    </head>
    <body>
    <div id="wrapper">
        <div id="top">
            <div id="img"></div>
            <p class="main_p">Locker Request System 2.0 of Soongsil University IT College</p>
            <p class="title">숭실대학교 사물함 신청 시스템</p>
        </div>

        <div class="login-box">
            <div id="lb_header">
                <p>로그인</p>
            </div>

            <form class="login" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <div class="u-form-group">
                    {{ form.username }}
                </div>
                <div class="u-form-group">
                    {{ form.password }}
                </div>

                <div id="space">
                    {% if form.errors %}
                        <p>ID나 비밀번호가 일치하지 않습니다.</p>
                    {% endif %}
                </div>

                <div class="u-form-group">
                    <button>로그인</button>
                </div>
            </form>
        </div>

		<!--
        <div id="info">
            <p class="info">&copy; Soongsil University All rights reserved.</p>
        </div>
		-->
    </div>

	<div id="dialog" title="공지사항">
		<p>
		2016년도 2학기 IT대학 사물함 신청 시간 안내<br><br>
        미디어학부 : 10월 4일, 6일, 7일 / 오후 08:00 ~ 오후 10:00<br><br>
	    ==============================<br><br>
        ID : 학번<br>
        PW : 010을 뺀 8자리 숫자<br><br>

        ex)<br>
        ID : 20160000<br>
        PW : 45671234<br><br>

        미디어학부 회장 연락처 : 010-8565-4614<br><br>
        학생회비 납부여부와 관련된 문의만 부탁드립니다.<br>
        동시접속인원이 많기 때문에 서버 터짐 현상은 정상입니다.<br> 해당 사항과 관련된 문의는 받지 않습니다.<br>
	<br>	서버 시간이 표준시간보다 3분정도 늦습니다. 양해 부탁드립니다.
	
	
		</p>
	</div>
    <!--
        {% if form.errors %}
            <p>ID나 비밀번호가 일치하지 않습니다.</p>
        {% endif %}
        <div>
            <form name="LoginForm" method="POST" action="">
                {% csrf_token %}
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>권한이 없습니다.</p>
                    {% else %}
                        <p>로그인을 해주세요</p>
                    {% endif %}
                {% endif %}
                {{ form.as_p }}
                <input type="submit"/>
            </form>
        </div>
    -->
	<script>
        $("#dialog").dialog({
			minWidth: 600,
			position: {my: "left top", at: "left top"}
		});
    </script>
	<!--구글 애널리틱스-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-71901644-2', 'auto');
	  ga('send', 'pageview');

	</script>
    </body>
</html>
