{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>SSU : Locker Request System 2.0 of Soongsil</title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="{% static "css/my-page.css" %}">
    <link rel="shortcut icon" href={% static "img/favicon.ICO" %} type="image/x-icon">
</head>
<body>
        <div id="wrapper">

            <div id="top">
                <div id="img"></div>
                <p class="main_p">Locker Request System 2.0 of Soongsil University IT College</p>
                <p class="title">숭실대학교 사물함 신청 시스템</p>
            </div>

            <div class="login-box">
                <div id="lb_header">
                    <p>사용자 정보</p>
                </div>
                <div class="login">
                    <div id="space">
                        <span>이름: {{ user.first_name }}</span><br/>
                        학번: {{ user.username }}<br/>
                        학과: {{ user.department }}<br/>
                        학생회비: {{ fee }}<br/>
                        {% if user_locker %}사물함: {{ user_locker }}{% endif %}
                    </div>

                    <div class="u-form-group">
			{% if user.fee_check %}
                        <form class="sub1_form" method="get" action="{% url 'locker_choice' %}">
							<button class="sub_button1">사물함 예약</button>
                        </form>
			{% else %}
			<form class="sub1_form" method="get" action="">
				<button class="sub_button1">사물함 예약</button>
			</form>
			{% endif %}

                        <form class="sub2_form" method="POST" action="">
                            {% csrf_token %}
	                        {% if user_locker %}
                            <input type="hidden" value="{{ user.id }}" name="user_id"/>
                            <button class="sub_button2">예약 취소 </button>
							{% else %}
							<input type="hidden" value="{{ user.id }}" name="user_id"/>
                            <button class="sub_button2" disabled>예약 취소 </button>
	                        {% endif %}
                        </form>
                        
                        <form method="get" action="{% url 'logout' %}">
                            <button class="lo_button">로그아웃 </button>
                        </form>
                    </div>
                </div>
            </div>

           <!--
            <div id="info">
                <p class="info">&copy; Soongsil University All Rights Reserved.</p>
            </div>
-->
        </div>
        <div id="dialog" title="신청시간">
            <ul>
            {% for t in time %}
                <li>{{t.department}} : {{t.start_time}} ~ {{t.end_time}}</li>
            {% endfor %}
            </ul>
        </div>

    <script>
        {% if messages %}
            {% for message in messages %}
                alert('{{ message }}');
            {% endfor %}
        {% endif %}

        $("#dialog").dialog({
			minWidth: 645,
			position: {my: "left top", at: "left top"}
		});

        {% if fee == '회비 미납' %}
            $(".sub_button1").click(function(){
                alert('회비를 미납하셨습니다');
            });
        {% endif %}
    </script>
	<!--구글 애널리틱스-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-71901644-2', 'auto');
	  ga('send', 'pageview');

	</script>
    </body>

</html>
<!--
<a href="{% url 'logout' %}">로그아웃</a>
<br/>
{{ user.first_name }}, {{ user.username }}, {{ fee }}, {{ user.department }}{% if user_locker %}, {{ user_locker }} {% endif %}<br/>
{% if user.fee_check %}
<a href="{% url 'locker_choice' %}" id="bookingBtn">사물함 예약</a>
{% endif %}
{% if user_locker %}
    <form method="post" action="">
    {% csrf_token %}
    <input type="hidden" value="{{ user.id }}" name="user_id"/>
    <button type="submit">예약 취소</button>
    </form>
{% endif %}
<br/>
<ul>
    {% for t in time %}
        <li>
            {{ t.department }} : {{ t.start_time }} ~ {{ t.end_time }}
        </li>
    {% endfor %}
</ul>
<script>
    {% if messages %}
        {% for message in messages %}
            alert('{{ message }}');
        {% endfor %}
    {% endif %}
</script>
</body>
</html>
-->
